name: Deploy Hugo site to OVH

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Hugo
        run: |
          wget -O ${{ runner.temp }}/hugo.deb \
            https://github.com/gohugoio/hugo/releases/download/v0.128.0/hugo_extended_0.128.0_linux-amd64.deb
          sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Build Hugo site
        run: hugo --minify
        
      - name: Deploy using SFTP
        uses: pressidium/lftp-mirror-action@v1
        with:
          host: ftp.cluster130.hosting.ovh.net
          port: 22
          user: ${{ secrets.OVH_FTP_USER }}
          pass: ${{ secrets.OVH_FTP_PASSWORD }}
          localDir: public/
          remoteDir: /home/benousf/docs/
          options: '--verbose'
